<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script data-main="js/client" src="js/lib/require-2.1.8.min.js"></script>
</head>
<body>
	<div class="app-container">
		<div class="characters-container">			
			<div class="characters-list">
				<div class="title">Choose your character</div>	
				<div class="character a" data-character="A"></div>
				<div class="character b" data-character="B"></div>
				<div class="character c" data-character="C"></div>
				<div class="character d" data-character="D"></div>
				<div class="character e" data-character="E"></div>
				<div class="character f" data-character="F"></div>
				<div class="character g" data-character="A"></div>
			</div>
		</div>
		<div class="screen"></div>
		<a href="#" class="button clear-storage">New Game</a>
	</div>
</body>
</html>
