<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/lib/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/rpg.js"></script>
	<script type="text/javascript" src="/js/config.js"></script>
</head>
<body>
	<div class="screen"></div>
	<div class="characters-container">
		<div class="character a" data-character="A"></div>
		<div class="character b" data-character="B"></div>
		<div class="character c" data-character="C"></div>
		<div class="character d" data-character="D"></div>
		<div class="character e" data-character="E"></div>
		<div class="character f" data-character="F"></div>
		<div class="character g" data-character="G"></div>
	</div>
</body>
</html>
