/*-------configuration--------*/

* {
	font-family:Arial, Helvetica, sans-serif;

}

body {
	margin: 0;
	padding: 0;
}

.overflow {
	overflow:hidden;
}

/*-----------app---------*/
.app-container {
	margin: 0 auto;
	width: 960px;
}
/*-----------screen---------*/
.screen {
	background: #ebebeb;
	border: solid 5px #DADADA;
	position: relative;
	margin: 0 auto;
}
/*-------characters--------*/

.characters-container {
	min-height: 60px;
	margin: 0 auto;
	width: 363px;
}
.characters-container .title{
	text-align: center;
	font-weight: bold;
	margin-bottom: 7px;
}
.characters-list {
	overflow: hidden;
	margin-top: 12px;
	margin-left: 20px;
	margin-bottom: 15px;
}
.characters-container .character {
	width: 33px;
	height: 33px;
	float: left;
	margin: 0 7px 0 7px;
	cursor: pointer;
}

.characters-container .character.a {
	background-image: url(../img/perso.png);
}
.characters-container .character.b {
	background-image: url(../img/perso.png);
	background-position-y : 128px;
}
.characters-container .character.c {
	background-image: url(../img/perso.png);
	background-position-x : 256px;
}
.characters-container .character.d {
	background-image: url(../img/perso.png);
	background-position-x : 160px;
}
.characters-container .character.e {
	background-image: url(../img/perso.png);
	background-position-x : 64px;
}
.characters-container .character.f {
	background-image: url(../img/perso.png);
	background-position-x : 256px;
	background-position-y : 128px;
}
.characters-container .character.g {
	background-image: url(../img/perso.png);
	background-position-x : 160px;
	background-position-y : 128px;
}








