/*-------configuration--------*/

* {
	font-family:Arial, Helvetica, sans-serif;

}

body {
	margin: 0;
	padding: 0;
}

.overflow {
	overflow:hidden;
}

/*-----------screen---------*/

.screen {
	background: #ebebeb;
}

/*-------characters--------*/
.characters-container {
	overflow: hidden;
	margin-top: 30px;
}
.characters-container .character {
	width: 33px;
	height: 33px;
	float: left;
	margin: 0 7px 0 7px;
	cursor: pointer;
}

.characters-container .character.a {
	background-image: url(../img/perso.png);
}
.characters-container .character.b {
	background-image: url(../img/perso.png);
	background-position-y : 128px;
}
.characters-container .character.c {
	background-image: url(../img/perso.png);
	background-position-x : 256px;
}
.characters-container .character.d {
	background-image: url(../img/perso.png);
	background-position-x : 160px;
}
.characters-container .character.e {
	background-image: url(../img/perso.png);
	background-position-x : 64px;
}
.characters-container .character.f {
	background-image: url(../img/perso.png);
	background-position-x : 256px;
	background-position-y : 128px;
}
.characters-container .character.g {
	background-image: url(../img/perso.png);
	background-position-x : 160px;
	background-position-y : 128px;
}






